.container {
    min-height: 100vh;
	background-color: #6a1e00d1;
	background-image: url("https://www.transparenttextures.com/patterns/washi.png");
	animation: bg-slide 20s linear infinite;
	top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.bioContainer {
	z-index: 10;
	color: white;
	width: 95%;
	left: 0;
	right: 0;
	padding: 1.75em;
	background: #000000b5;
	font-family: 'Open Sans', sans-serif;
	margin-top: 7em;
}

.content > h1 {
	text-shadow: 2px 2px #f26565;
	font-weight: initial;
	font-size: 2.5em;
	margin: 0em 0em .75em 0em;
}

.bioPic {
	position: relative;
	width: 100%;
	height: 26em;
	margin-top: 3em;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%);
}

.pressFlex {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.clippingContainer {
	position: relative;
	width: 10em;
	height: 10em;
	margin-right: 2em;
	margin-bottom: 2em;
}

@media only screen and (min-width: 768px) {
	.bioContainer {
		width: 100%;
		margin-top: unset;
	}

	.content {
		width: 70%;
		margin: 0 auto;
		padding: 6em 6em;
	}
}
