html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
/*	background-image: url("https://www.transparenttextures.com/patterns/washi.png");
*/	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.fadeIn-enter {
  opacity: 0;
}
.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fadeIn-enter-done {
	opacity: 1
}
.fadeIn-exit {
  opacity: 1;
}
.fadeIn-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}