.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6a1e000d;
  position: fixed;
  left: 0;
  right: 0;
}

.homeImage {
  z-index: -1;
}