.navContainer {
	top: 1em;
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
	z-index: 100;
}

.logoContainer {
	width: 9em;
	height: 5em;
	position: relative;
	left: 1em;
}

.navItem {
	color: #fff;
	margin: 0em .65em .65em;
	font-size: 1.6em;
	font-weight: ;
	text-shadow: 2px 2px #f26565;
}

.socialContainer {
	position: fixed;
	left: 0;
	background: #cc11114f;
	width: 100%;
	bottom: 0;
	bottom: calc(var(--vh, 1vh) * 1);
	display: flex;
	z-index: 9999;
}

.socialIcon {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  margin: 1em auto;
}

.logoImg {
		width: 8em !important;
		height: 4.7em !important;
}



/* NAV PORT */

.wholeNav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.homeF {
	position: absolute;
	width: 3.5em;
	z-index: 1;
	top: .5em;
	left: .5em;
}

.bgCover {
	position: fixed;
	overflow: auto;
	overflow-y: scroll;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 0;
	transition: all 350ms ease;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: 20;
}

.reveal {
	opacity: 1;
	display: block;
	pointer-events: auto;
	visibility: visible;
}

.hamburgerShell {
	margin: 0;
	position: absolute;
	overflow: hidden;
	width: 70px;
	height: 3em;
    right: 0;
	top: 8px;
	z-index: 20;
}

.top, .middle{
	position: absolute;
	width: 40px;
	height: 4px;
	transition: all 350ms ease-in-out;
	top: 20px;
}

.top {
	background-color: #ffe500;
}

.middle {
	top: 35px;
	background-color: #fd4435;
}

.menu {
	position: relative;
	top: 10px;
	color: black;
	display: none;
	margin-top: 60px;
	text-decoration: none;
	font-weight: 100;
	font-size: 20px;
	text-transform: uppercase;
	color: #333;
	padding: 4em;
	height: 65vh;
    text-align: center;
}

.menu a li {
	text-decoration: none!important;
	padding-bottom: 10px;
	margin-bottom: 12px;
	border-bottom: 1px solid black;
	list-style: none;
	color: #555;
	transition: all 150ms ease;
}

.menu a li:hover {
	color: #CC2D2F;
	padding-right: 3px;
}

.navTerms {
	bottom: 0em;
	font-size: 80%;
    position: absolute;
    left: 0;
    right: 0;
}

.navTerms a:hover {
	color: #00abff;
	padding-right: 3px;
}

.menu a {
	text-decoration: none;
}

.rotate {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	top: 30px;
	background-color: #CC2D2F;
	height: 2px;
}

.rotateBack {
	transform: rotate(-225deg);
	-webkit-transform: rotate(-225deg);
	top: 30px;
	background-color: #CC2D2F;
	height: 2px;
}

.top {
	-webkit-animation-delay: 100ms;
}

.middle {
	-webkit-animation-delay: 250ms;
}

.bottom {
	-webkit-animation-delay: 400ms;
}

.navSocials {
	filter: invert(1);
	position: absolute;
	display: flex;
	justify-content: space-evenly;
	width: 10em;
	left: 0;
	right: 0;
	margin: 1em auto;
	filter: invert();
}

.navSignUp {
	left: 5em;
	position: absolute;
	top: 1.15em;
	border: 2px solid #847b7b75;
	outline: none;
	padding: .5em 1em;
	font-size: 1em;
	font-family: "Futura";
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	cursor: pointer;
	/*background: rgb(2,0,36);
	background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(45, 103, 115) 100%);*/
}

.gradientWaveBG {
    background: linear-gradient(270deg, #004d80, #20866c);
    background-size: 400% 400%;

    -webkit-animation: gradientWave 20s ease infinite;
    -moz-animation: gradientWave 20s ease infinite;
    animation: gradientWave 20s ease infinite;
}

@-webkit-keyframes gradientWave {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientWave {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientWave {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@media (min-width: 1024px) {
	.bgCover {
		width: 40%;	
	}
}

@media (min-width: 1224px) {
	.bgCover {
		width: 30%;	
	}
}

@media only screen and (min-width: 768px) {
	.socialContainer {
		left: 0em;
		position: absolute;
		background: #cc11114f;
		width: 4em;
		transform: translateY(50%);
		display: inline-table;
		top: 4em;
	}

	.bgCover {
		width: 45%;		
		right: 0;
		left: unset;
		box-shadow: 0em 0em 0.4em;
	}

	.desktopNavContainer {
		display: flex;
		flex-direction: row;
		margin-left: 2em;
	}
}